body {
    font-family: "Open-Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content:nth-child(1) {
    padding: 50px 0
    min-height: 200px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #5637DD 0%, #F27280 100%);
    border-image-slice: 1
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    box-shadow: 0 0 20px rgb(144, 28, 173), 0 0 3px beige inset;
}

.carousel-indicators {
    top: 0px;
    padding-top: 20px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 5px;
}
